<form method="post" (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" autocomplete="off">
  <p><label for="name">Name</label></p>
  <input [(ngModel)]="contactData.name" type="text" name="name" id="name" placeholder="Ihr Name" required>
  <p><label for="email">Email</label></p>
  <input [(ngModel)]="contactData.email" type="email" name="email" id="email" placeholder="Ihre E-Mail" required>
  <p><label for="message">Message</label></p>
  <textarea [(ngModel)]="contactData.message" minlength="10" name="message" id="message" rows="4" cols="50" placeholder="Ihre Nachricht" required></textarea>
  <button [disabled]="!contactForm.form.valid" type="submit" name="btn-submit">Senden</button>
</form>